.sidebar {
    width: 100%;
    background: var(--white);
    border-radius: 8px;
    border: 1px solid var(--green-100);
    overflow: hidden;

}

.cover {
    width: 100%;
    height: 11.125rem;
    object-fit: cover;
}

.profile {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    
}
